[[extend 'layout.html']]

<style>
[v-cloak] {
     display: none;
}

.is-wide {
    width: 100%;
}

.row {
    margin-top: 1rem;
}

.card.is-horizontal {
    display: flex;
}

.card .card-image {
    width: 35%;
    height: 35%;
}

.card .card-stacked {
    flex-direction: column;
    flex: 1 1 auto;
    display: flex;
    position: relative;
    width: 70%;
}

.card .card-stacked.card-content {
    flex-grow: 1;
}

.card .card-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.card .card-footer .card-footer-item {
    display: block;
}

span.upvote:hover {
    cursor: pointer;
}

span.upvote {
    font-size: 1.5rem
}

span.review-count {
    vertical-align: top;
    height: 100%;
}

p.review-preview {
    margin-top: 1rem;
}

.location-card {
    margin-top: 1.5rem;
}

.button.review-button {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 0px;
    width: 100%;
    height: 100%;
}

</style>

<div class="section" id="vue-target" v-cloak>

    <div class="container is-max-desktop">

        <!-- create button -->
        <button class="button is-info is-wide" @click="set_add_modal()">
            <span class="icon"><i class="fa fa-plus-circle"></i></span>
            <span>Create a Post</span>
        </button>

        <!-- create modal -->
        <div id="modal" class="modal" v-bind:class="{ 'is-active': show_add_modal }">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Create a Post</p>
                    <button class="delete" aria-label="close" @click="set_add_modal()"></button>
                </header>
                <section class="modal-card-body">
                    <!-- error message -->
                    <article class="message is-danger" v-if="err">
                        <div class="message-body">Error: {{err_msg}}</div>
                    </article>
                    <!-- content -->
                    <div class="content">
                        <h3>New Location</h3>
                        <div class="field">
                            <label class="label">Name</label>
                            <div class="control">
                                <input class="input" type="text" placeholder="Name here..." v-model="location_name">
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <label class="label">Description</label>
                                <textarea class="textarea" placeholder="Describe how to find the location..." v-model="location_desc"></textarea>
                            </div>
                        </div>
                        <!-- image upload -->
                        <div v-if="!selection_done" class="field has-addons block">
                            <p class="control">
                                <div class="file is-info">
                                    <label class="file-label">
                                        <input class="file-input" type="file"
                                                accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*"
                                                @change="select_file($event)"
                                        >
                                        <span class="file-cta">
                                            <span class="file-label">
                                                <span>Upload Image</span>
                                            </span>
                                        </span>
                                    </label>
                                </div>
                            </p>
                        </div>
                        <template v-if="selection_done && !uploaded">
                            <div class="block">
                                <img width="400" :src="image_url" />
                            </div>
                        </template>
                        <h3>Your Review</h3>
                        <div class="field">
                            <div class="control">
                                <label class="label">
                                    Cry Quality
                                </label>
                                <input class="input" type="number" min="0" max="5" v-model="cry_rating">
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <label class="label">
                                    Atmosphere Rating
                                </label>
                                <input class="input" type="number" min="0" max="5" v-model="atmos_rating">
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <label class="label">
                                    Noise Rating
                                    <i class="label-exp">(0 being quiet, 5 being loud)</i>
                                </label>
                                <input class="input" type="number" min="0" max="5" v-model="noise_rating">
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <label class="label">
                                    Amount of People
                                    <i class="label-exp">(0 being no people, 5 being a lot of people)</i>
                                </label>
                                <input class="input" type="number" min="0" max="5" v-model="ppl_rating">
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <label class="label">Your Review</label>
                                <textarea class="textarea" placeholder="Your review here..." v-model="review_content"></textarea>
                            </div>
                        </div>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <button class="button is-info" @click="add_post()">Add Post</button>
                    <button class="button" @click="set_add_modal()">Cancel</button>
                </footer>
            </div>
        </div>

        <!-- filters -->
        <div class="columns row field is-grouped">
            <div class="control column">
                <button
                    v-if="filter !== 'top'"
                    class="button is-info is-light is-wide"
                    @click="change_filter('top')"
                >
                    <span class="icon"><i class="fa fa-check"></i></span>
                    <span>Top</span>
                </button>
                <button
                    v-if="filter === 'top'"
                    class="button is-info is-light is-wide is-outlined"
                >
                    <span class="icon"><i class="fa fa-check"></i></span>
                    <span>Top</span>
                </button>
            </div>
            <div class="control column">
                <button
                    v-if="filter !== 'new'"
                    class="button is-info is-light is-wide"
                    @click="change_filter('new')"
                >
                    <span class="icon"><i class="fa fa-exclamation"></i></span>
                    <span>New</span>
                </button>
                <button
                    v-if="filter === 'new'"
                    class="button is-info is-light is-wide is-outlined"
                >
                    <span class="icon"><i class="fa fa-exclamation"></i></span>
                    <span>New</span>
                </button>
            </div>
            <div class="control column">
                <button
                    v-if="filter !== 'my_posts'"
                    class="button is-info is-light is-wide"
                    @click="change_filter('my_posts')"
                >
                    <span class="icon"><i class="fa fa-arrow-up"></i></span>
                    <span>My Posts</span>
                </button>
                <button
                    v-if="filter === 'my_posts'"
                    class="button is-info is-light is-wide is-outlined"
                >
                    <span class="icon"><i class="fa fa-arrow-up"></i></span>
                    <span>My Posts</span>
                </button>
            </div>
        </div>

        <!-- placeholder for posts -->
        <div class="content" v-if="posts.length == 0">
            <i>No posts to show</i>
        </div>

        <!-- posts -->
        <div v-for="p in posts">
            <div
                v-if="filter !== 'my_posts' || (filter === 'my_posts' && p.email === user_email)"
                class="card is-horizontal location-card"
            >
                <div class="card-image">
                    <figure class="image is-square">
                    <img v-if="!p.image" src="https://images7.alphacoders.com/303/303995.jpg" alt="Placeholder image">
                    <img v-if="p.image" :src="test_image" alt="Placeholder image"/>
                    </figure>
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <div class="content">
                            <div class="columns" style="margin-bottom: 0rem;">
                                <h2 class="column is-11" style="margin-bottom: 0.25rem;">{{p.name}}</h2>
                                <span class="column is-1 has-text-danger" v-if="user_email===p.email">
                                    <i class="fa fa-trash fa-lg" @click="delete_post(p._idx)" style="cursor: pointer;"></i>
                                </span>
                            </div>
                            <div class="desc-rating">
                                <span class="icon has-text-link" v-for="star_idx in [1, 2, 3, 4, 5]">
                                    <i v-if="star_idx <= p.avg_rating" class="fa fa-circle fa-lg"></i>
                                    <i v-if="star_idx > p.avg_rating" class="fa fa-circle-o fa-lg"></i>
                                </span>
                                <span class="review-count has-text-grey-dark">{{p.review_count}}</span>
                            </div>
                            <p class="review-preview">{{p.description}}</p>
                        </div>
                        <div class="field is-grouped">
                            <div class="control" v-for="t in p.tags">
                                <span class="tag is-light is-rounded">{{t}}</span>
                            </div>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <button class="button is-link is-light review-button" @click="open_location(this, p.id)">
                            See Reviews
                        </button>
                    </footer>
                </div>
            </div>
        </div>
        
    </div>
</div>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
    let get_email_url = "[[=XML(get_email_url)]]";
    let add_location_url = "[[=XML(add_location_url)]]";
    let get_locations_url = "[[=XML(get_locations_url)]]";
    let delete_location_url = "[[=XML(delete_location_url)]]";
    let location_url = "[[=XML(location_url)]]";
    let add_review_url = "[[=XML(add_review_url)]]";
    let file_upload_url = "[[=XML(file_upload_url)]]";
</script>
<script src="js/index.js"></script>
[[end]]
