[[extend 'layout.html']]

<style>
[v-cloak] {
     display: none;
}
</style>

<div class="section" id="vue-location" v-cloak>

    <div class="container is-max-desktop">
        <div class="content">
            <p>Hello world.</p>
            <p>[[=loc_id]]</p>
            <p>{{loc_id}}</p>
        </div>
    </div>
</div>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
    let loc_id = "[[=XML(loc_id)]]";
    let get_email_url = "[[=XML(get_email_url)]]";
    let get_location_url = "[[=XML(get_location_url)]]";
</script>
<script src="js/location.js"></script>
[[end]]
